<!DOCTYPE html>
<html lang="en">
    <head></head>
        {{ bokeh_css }}
        <style>
          {% include 'styles.css' %}
        </style>
        <meta charset="utf-8">
        {{ bokeh_js }}
    </head>
    <body>
        {{ plot_div|indent(8) }}
        {{ plot_script|indent(8) }}
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
        <script>
        $(document).ready(function() {
            $('body').on('click', '.adjust-dropdown', function () {
                $('.adjust-drop').slideToggle();
            });
            $('body').on('click', '.filter-dropdown', function () {
                $('.filter-drop').slideToggle();
            });
            $('body').on('click', '.position-dropdown', function () {
                $('.position-drop').slideToggle();
            });
            $('body').on('click', '.bulkfile-dropdown', function () {
                $('.bulkfile-drop').slideToggle();
            });
            $('body').on('click', '.navigation-dropdown', function () {
                $('.navigation-drop').slideToggle();
            });
            $('body').on('click', '.export-dropdown', function () {
                $('.export-drop').slideToggle();
            });
            $('body').on('click', '.bulkfile-help-dropdown', function () {
                $('.bulkfile-help-drop').slideToggle();
            });
            $('body').on('click', '.filter-help-dropdown', function () {
                $('.filter-help-drop').slideToggle();
            });
            $('body').on('click', '.adjust-help-dropdown', function () {
                $('.adjust-help-drop').slideToggle();
            });
        });
        </script>
    </body>
</html>
