@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

body {
    font-family: 'Noto Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    display: block;
    margin: 0px;
}
.bk-plot-layout{
    display: inline-block;
}
.adjust-drop, .filter-drop, .position-drop{
    display: none;
}
.adjust-dropdown, .filter-dropdown{
    font-weight: bold;
    color: blue;
    cursor: pointer;
    margin-top: 20px;
}
.adjust-dropdown.caret-down > div :after,
.filter-dropdown.caret-down > div :after{
    content: ' \25BC';
}
.adjust-dropdown.caret-up > div :after,
.filter-dropdown.caret-up > div :after{
    content: ' \25B2';
}
.position-dropdown.help-text > div :after{
    content: ' [+]';
    font-weight: bold;
    color: blue;
    cursor: help;
    right: 0;
}
.position-drop pre {
    font-weight: bold;
    margin: 0 0;
}
.select-opt{
    color: blue;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}
.bk-root .bk-widget-form-input{
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
}
.toggle_button_g_r > .bk-bs-btn.bk-bs-active {
    background-color: #5cb85c;
    font-style: italic;
}
.toggle_button_o_r > .bk-bs-btn.bk-bs-active {
    background-color: #ed9c28;
    font-style: italic;
}
.input-error > .bk-widget-form-input {
    background-color: #d9534f;
}