@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

body {
    font-family: 'Noto Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    display: block;
    margin: 0;
}
.bk-plot-layout{
    display: inline-block;
}
.adjust-drop, .filter-drop, .export-drop,
.position-drop, .navigation-drop, .bulkfile-help-drop,
.filter-help-drop, .adjust-help-drop{
    display: none;
}
.caret-down > div{
    font-weight: bold;
    color: blue;
    cursor: pointer;
    margin-top: 20px;
}
.caret-down > div :after{
    content: ' \25BC';
}
.help-text > div :after{
    content: ' [?]';
    display: inline-block;
    font-weight: bold;
    color: blue;
    cursor: help;
    right: 0;
    padding-bottom: 3px;
    padding-left: 5px;
}
.help-text code {
    font-weight: bold;
    margin: 0 0;
}
.select-opt{
    color: blue;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}
.bk-root .bk-widget-form-input{
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
}
.toggle_button_g_r > .bk-bs-btn.bk-bs-active {
    background-color: #5cb85c;
    font-style: italic;
}
.toggle_button_o_r > .bk-bs-btn.bk-bs-active {
    background-color: #ed9c28;
    font-style: italic;
}
.input-error > .bk-widget-form-input {
    background-color: #d9534f;
}
.duration_pre pre{
    border-bottom: 1px solid black;
    margin-top: -10px
}
.jump-block {
    margin-top: -10px;
}
.help-text {
    margin-top: 0;
    margin-bottom: -10px;
}
.adjust-help-drop {
    margin-top: 0;
}
.position-dropdown {
    margin-bottom: 0;
}
code {
    word-wrap: break-word;
}